<!DOCTYPE html>
<html>
<head>
  <title>Course Search</title>
</head>

<body>
  <p>Term and Year</p>
  <form>
    Term:
    <input type="text" name="term"><br>
    Year:
    <input type="text" name="year"><br>
  </form>
  <p>Subject</p>
  <form>
    Department:
    <input tupe="text" name="department"><br>
    Course Number:
    <input type="text" name="number"><br>
  </form>
  <p>Looking for a GenEd?</p>
  1: <select name="gened1">
    <option value=""></option>
    <option value="AC">Advanced Composition</option>
    <option value="W">Western / Comparitive Cultures</option>
    <option value="NW">Non-Western / US Minority Cultures</option>
    <option value="HA">Humanities and the Arts</option>
    <option value="NST">Natural Sciences and Technology</option>
    <option value="QR">Quantitive Reasoning</option>
    <option value="SBS">Social and Behavioral Sciences</option>
  </select><br>
  2: <select name="gened2">
    <option value=""></option>
    <option value="AC">Advanced Composition</option>
    <option value="W">Western / Comparitive Cultures</option>
    <option value="NW">Non-Western / US Minority Cultures</option>
    <option value="HA">Humanities and the Arts</option>
    <option value="NST">Natural Sciences and Technology</option>
    <option value="QR">Quantitive Reasoning</option>
    <option value="SBS">Social and Behavioral Sciences</option>
  </select><br>
  3: <select name="gened3">
    <option value=""></option>
    <option value="AC">Advanced Composition</option>
    <option value="W">Western / Comparitive Cultures</option>
    <option value="NW">Non-Western / US Minority Cultures</option>
    <option value="HA">Humanities and the Arts</option>
    <option value="NST">Natural Sciences and Technology</option>
    <option value="QR">Quantitive Reasoning</option>
    <option value="SBS">Social and Behavioral Sciences</option>
  </select><br>
  <input type="checkbox" name="allorany" value="all"> All
  <input type="checkbox" name="allorany" value="any"> Any<br>
  <p>Days of the Week</p>
  <input type="checkbox" name="dayofweek" value="M"> M
  <input type="checkbox" name="dayofweek" value="T"> T
  <input type="checkbox" name="dayofweek" value="W"> W
  <input type="checkbox" name="dayofweek" value="R"> R
  <input type="checkbox" name="dayofweek" value="F"> F
  <input type="checkbox" name="dayofweek" value="Sat"> Sat
  <input type="checkbox" name="dayofweek" value="Sun"> Sun
  <p>Times</p>
  <form>
    Earliest Class Time: <input type="text" name="starttime">:00<br>
    Latest Class Time: <input type="text" name="endtime">:00<br>
    Want a Break? From:
    <input type="text" name="breakstart">:00 to
    <input type="text" name="breakend">:00<br>
  </form>
  <p>Location</p>
  <input type="checkbox" name="location" value="main"> Main Quad
  <input type="checkbox" name="location" value="south"> South Quad
  <input type="checkbox" name="location" value="bardeen"> Bardeen Quad
  <input type="checkbox" name="location" value="north"> North Engineering Quad

  <br>
  <br>

  <button type="button" onclick="">Submit!</button>
</body>
</html>
